<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>JOSEDMAR S.A.C</title>
<script type="text/javascript"
	src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js"></script>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css"></link>
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>

	
   <div class="form-row">
    
    <div class="form-group col-md-12">
    <br>
     <div class="bg-success mb-4">
    
      <label for="inputEmail4">°NUESTROS PRODUCTOS</label>
      <br>
  <br>
      <div class="form-row">
      
        <div class="form-group col-md-4">
        <img th:src="@{/imagenes/b1.jpg}" width="200" height="200" alt="logo" align="middle"></img>
        </div>
        
        <div class="form-group col-md-4">
        <img th:src="@{/imagenes/b2.png}" width="200" height="200"alt="logo" align="middle"></img>
        </div>
        <div class="form-group col-md-4">
        <img th:src="@{/imagenes/b3.jpg}" width="200" height="200" alt="logo" align="middle"></img>
        </div>
        </div>
        </div>
    
    </div>
  </div>
  
   <div class="form-row">
    <br>
    <div class="form-group col-md-4">
    <br>
   <div class="bg-success mb-4">
    <label for="inputEmail4">°NUESTROS CLIENTES</label>
    </div>
    <br>
   <img th:src="@{/imagenes/clientes.jpg}" width="420" height="400" alt="logo" align="middle"></img>
   
   </div>
   <div class="form-group col-md-4">
   <br>
    <div class="bg-success mb-4">
    <label for="inputEmail4">°NUESTROS TRABAJADORES</label>
    </div>
    <br>
   <img th:src="@{/imagenes/tr.png}" width="420" height="400" alt="logo" align="middle"></img>
   
   </div>
   <div class="form-group col-md-4">
   <br>
    <div class="bg-success mb-4">
    <label for="inputEmail4">°NUESTROS EXISTENCIAS</label>
    </div>
    <br>
   <img th:src="@{/imagenes/er.jpg}" width="420" height="400" alt="logo" align="middle"></img>
   
   </div>
   </div>
 
   
   <div class="form-row">
    <br>
    
    <div class="form-group col-md-4">
    <br>
   <div class="bg-success mb-4">
   
    <label for="inputEmail4">°NUESTROS FACTURAS</label>
    </div>
    <br>
   <img th:src="@{/imagenes/fac.png}" width="420" height="400" alt="logo" align="middle"></img>
   
   </div>
   <div class="form-group col-md-4">
   <br>
    <div class="bg-success mb-4">
    <label for="inputEmail4">°NUESTROS PROBLEMAS</label>
    </div>
    <br>
   <img th:src="@{/imagenes/pro2.png}" width="420" height="400" alt="logo" align="middle"></img>
   
   </div>
   <div class="form-group col-md-4">
   <br>
    <div class="bg-success mb-4">
    <label for="inputEmail4">°NUESTROS SERVICIOS</label>
    </div>
    <br>
   <img th:src="@{/imagenes/ser.png}" width="420" height="400" alt="logo" align="middle"></img>
   
   </div>
   </div>
   
   
   
   
   
   
   
   
   
    <div class="form-row">
       
     
       <div class="form-group col-md-4" >
  <br>
    <div class="bg-success mb-4">
      <label for="inputEmail4" >°BIENVENIDOS</label>
      <br>
     
      <p > 
      	

Somos Josedmar S.A.C., una empresa peruana dedicada a la venta y alquiler de sanitarios portátiles. Además, realizamos recolección de residuos sólidos y líquidos.
Contamos con personal altamente calificado y especializado en cada uno de los servicios que prestamos. Tenemos una larga experiencia en la labor que brindamos con responsabilidad, calidad y seriedad constante, siempre manteniendo una buena relación con nuestros clientes.
Nos caracterizamos diariamente por captar nuevos clientes gracias al desempeño laboral y excelente servicio que ofrecemos a través de nuestro equipo de trabajo.

      </p>
      
 
    
    
       </div>
    </div>
    <div class="form-group col-md-8">
    <br>
   <div class="bg-success mb-4">
    <label for="inputEmail4">°MISION</label>
      <br>
          <p>
          	

Somos una empresa sanitaria-ambiental en donde ofrecemos soluciones integrales, orientadas a satisfacer las expectativas de nuestros clientes, con el fin de brindarles un trabajo responsable por medio de la confianza adquirida día a día; respetando el medioambiente y las comunidades locales, garantizando a nuestros colaboradores oportunidades de desarrollo, seguridad y un excelente clima laboral.
          </p>
          
           
      <label for="inputEmail4">°VISION</label>
    <p>
    Ofrecer el mejor y más amplio servicio con excelente calidad y seguridad, acorde a las exigencias técnicas de los clientes y a las diferentes normativas vigentes, visionando el crecimiento constante mediante el establecimiento de sucursales en todo el territorio nacional. No solo rentamos baños, ¡resolvemos sus necesidades!
    </p>
   <br>
   <br>
   </div>
    </div>
 
 
 
  </div>

  
  
  
  
  <br>
  <br>
  <br>
  
	
<div class="form-row">
    <div class="form-group col-md-12">
	<div th:replace="fragments/footer :: footer"></div>
</div>
  </div>
</body>

</html>
